.iconos {
	width: 150px;
	color: black;
	font-size: large;
}

.fondoTransparente {
	background-color: rgba(0, 0, 0, 0.15);

}

.fondoTransparenteDark {
	background-color: rgba(244, 244, 244, 0.62);

}





