#fondo-cards {
	background-color: rgba(216, 216, 216, .35);
}

.cambiarLado {
	background-color: rgba(216, 216, 216, .35);
	width: 300px;
}

.icono {
	width: 100px;
}



.btnOscuro:hover {
	background-color: #1a1919;
	color: #efefef;
}


.btnLuminoso:hover {
	background-color: #dbdada;
	color: #121212;
}
