.themeOscuro{
/* 	color: #8f9193; */
	color: white;
	
	background-color: #262626;
}

.iconos {
	width: 150px;
	color: black;
	font-size: large;
}

.fondoTransparente {
	background-color: rgba(0, 0, 0, 0.15);

}

.fondoTransparenteLight {
	background-color: rgba(0, 0, 0, 0.35);

}

.fondoTransparenteDark {
	background-color: rgba(244, 244, 244, 0.62);

}

.luminoso {

	height: 50vh;
	/* 	min-height: 500px; */
	background-image: url('/assets/img/index/banner-lightside.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.oscuro {
	height: 50vh;
	/*   min-height: 500px; */
	background-image: url('/assets/img/index/banner-darkside.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#titulo {
  position: absolute; /* or absolute */
  top: 34px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}