@charset "UTF-8";

.fondoTransparente {
	background-color: rgba(255, 255, 255, 0.6);
}

#back {
	background-image: url('../img/home/img-background-home.jpeg');
	height: 100vh;
}

/* Height for devices larger than 576px */
@media ( min-width : 992px) {
	#intro {
		margin-top: -58.59px;
	}
}

.logos {
	width: 100px;
}

.luz {
	width: 100vw;
	height: 50vh;
}

#botones {
	margin-top: 20vh;
	color: black;
}

.iconos {
	width: 150px;
	color: black;
	font-size: large;
}